<h2>Welcome to Money Cashboard, <%= @account.name %></h2>

<p>Total spend: £<%= @total %></p>
<p>Budget: £<%= @account.budget %></p>
<p>You have £<%= @account.budget.to_i - @total.to_f %> left to spend this month!</p>
