<h2>Spending by Vendor</h2>

<table>
  <% @vendors.each do |vendor| %>
  <tr>
  <td> <%= vendor.name %></td>
  <td> <%= vendor.total_spend %></td>
</tr>
  <% end %>



</table>

<button type="button" name="button"><a href="/vendors/new">Add new vendor</a></button>
