<div class="container">

<h2>Spending by Vendor</h2>

<div class="contents">
<table class="table">


    <% @vendors.each do |vendor| %>
    <tr>

    <td> <%= vendor.name %></td>

    <td> <%= vendor.total_spend %></td>

  </tr>
    <% end %>



</table>

<div class="button-div">
<button class="button" type="button" name="button"><a href="/vendors/new">Add new vendor</a></button>

</div>
</div>
</div>
