<form action="/vendors" method="POST">

<label for="vendor-input">Name:</label>
<input id="vendor-input" type="text" name="name" placeholder="Enter vendor name">

<input class="button--submit" type="submit" value="Add Vendor">
</form>
