<div class="container">

<h2>Spending by Category</h2>

<div class="contents">
<table class="table">

  <% @categories.each do |category| %>

  <tr>
    <td><%= category.name %></td>

    <td><%= category.total_spend %></td>
  </tr>

  <% end %>

</table>


<div class="button-div">
<button class="button" type="button" name="button"> <a href="/categories/new" style="text-decoration:none;">Add new category</a></button>

</div>
</div>
</div>
