<h2>Spending by Category</h2>

<table>

  <% @categories.each do |category| %>

  <tr>
    <td><%= category.name %></td>

    <td><%= category.total_spend %></td>
  </tr>

  <% end %>

</table>



<button type="button" name="button"> <a href="/categories/new">Add new category</a></button>
