<h2>Categories</h2>

<table>

  <tr>
  <% @categories.each do |category| %>

  <td><%= category.name %></td>
  
  </tr>

  <% end %>

</table>



<!-- <a href="/categories/new">Add new category</a> -->
