#container{
  width: 90%;
  margin: 10px;
  background-color: #5f9ea0;
}

#contents{
  background-color: wheat;
  display: flex;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

nav{
  width: 20%;
  background-color: #a0d6b4;
}

main{
  width: 80%;
  background-color: #317873;
  padding: 10px 20px;
}

header{
  text-align: center;
}

h1, h2 {
  font-family: 'Merriweather Sans', sans-serif;
}
