#container{
  width: 100%;
  background-color: #5f9ea0;
}

#contents{
  background-color: wheat;
  display: flex;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

nav{
  width: 20%;
  background-color: #a0d6b4;
  padding-right: 25px;
}
nav ul li {
  margin-bottom: 10px;
  text-transform: uppercase;
}
ul {
  padding-left: 10px;
  list-style-type: none;
  color: black;
}

main{
  width: 80%;
  background-color: #317873;
  padding: 10px 20px;
}

header{
  text-align: center;
}
h1{
  font-size: 40px;
}

h2 {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  font-size: 30px;
}

.contents{
  display: flex;
}

.table{
  width: 70%;
  background-color: #317873;
  text-align: center;
}
.transactions{
  width: 50%;
  background-color: #317873;
  margin-left: 20px;
}
.button-div{
width: 30%;
padding: 10px;
}
#total_spend{
  font-size: 80px;
  text-align: center;
}
#budget{
  text-align: center;
  font-size: 18px;
}
#spend_by_date{
  font-size: 50px;
  text-align: center;
}
