#container{
  width: 90%;
  margin: 10px;
  background-color: #5f9ea0;
}

#contents{
  background-color: wheat;
  display: flex;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

nav{
  width: 20%;
  background-color: #a0d6b4;
}

main{
  width: 80%;
  background-color: #317873;
  padding: 10px 20px;
}

header{
  text-align: center;
  margin: 10px auto;
}

h2 {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  font-size: 30px;
}

.container{
  width: 100%;
}
.contents{
  display: flex;
}

.table{
  width: 70%;
  background-color: #317873;
  text-align: center;
}
.button-div{
width: 30%;
margin-top: 30%;
}
