table{
width: 70%;
}
td{
  width: 60px;
  text-align: left;
  vertical-align: left;
}
tr{
  width: 60px;
}
tr:hover {
  background-color: #49796b;
}
#date_spend_table th tr td{
  text-align: right;
}
