<p>Successfully added transaction</p>
<p>Amount: £ <%= @new_transaction.amount %></p>
<p>Category: <%= @new_transaction.category.name %></p>
<p>Vendor: <%= @new_transaction.vendor.name %></p>
<p>Date: <%= @new_transaction.transaction_date %></p>
