<form action="/transactions/<%= @transaction.id %>/delete" method="POST">

  <label for="id-input">Transaction id:</label>
  <input id="id-input" type="number" name="id">

  <input type="submit" value="Delete Transaction">

</form>
