<h2>Transaction Details:</h2>
<p>Category: <%= @transaction.category.name %></p>
<p>Vendor: <%= @transaction.vendor.name %></p>
<p>Amount: <%= @transaction.amount %></p>

<a href="/transactions/<%= @transaction.id %>/edit">Edit Transaction</a>
