<form action="/transactions/spend">

  <label for="select-date">Select Date to View Transaction:</label>
  <input id="select-date" type="date" name="date" value="transaction_date">

  <input class="button--submit" type="submit" value="Search Date">

</form>
