<form action="/transactions/spend" method="POST">

  <label for="select-date">Select Date to View Transaction:</label>
  <input id="select-date" type="date" name="" value="transaction_date">

  <input type="submit" value="Search Date">

</form>
